/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* General */
body {
  width: 100%;
  height: 100vh;

  background: #201b2c;

  display: flex;
}

/* Left Side */
.left_side {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left_side_img {
  width: 75%;
  height: 75%;
}

/* Right Side */
.right_side {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Sign In*/
.form {
  width: 65%;

  padding: 1.5rem;

  background: #2f2b41;

  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
}

.form_title {
  color: #77ffc0;
  font-size: 2.1rem;
  text-align: center;

  margin-bottom: 1rem;
}

.inputs {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 0.8rem 0;
  gap: 0.2rem;
}

.inputs label {
  color: #e9f0f0c0;

  font-size: 1rem;
}

.inputs > input::placeholder {
  font-size: 0.9rem;
  color: #e9f0f0a1;
}

.inputs input[type="text"],
input[type="password"] {
  outline: none;
  border: none;
  color: #e9f0f0d2;

  height: 2.5rem;

  background: #514869;

  border-radius: 0.2rem;

  padding-left: 0.5rem;

  font-size: 0.9rem;
}

.form_submit {
  width: 100%;
  height: 3rem;

  color: #2f2b41;

  margin-top: 0.5rem;

  border-radius: 0.2rem;

  background: #77ffc0;

  cursor: pointer;

  outline: none;
  border: none;

  font-size: 1rem;
  font-weight: 700;
}

.form_submit:hover {
  background: #70eeb3;
}

/* Breakpoints */
@media (min-width: 921px) {
  .form {
    width: 50%;
  }
}

@media (max-width: 920px) {
  body {
    flex-direction: row;
  }
  .left_side,
  .right_side {
    width: 50%;
  }

  .form {
    width: 60%;
  }
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .left_side,
  .right_side {
    width: 100%;
  }

  .left_side {
    height: 40vh;
  }

  .right_side {
    height: 50vh;
    align-items: flex-start;
  }

  .form {
    width: 70%;
  }
}
